* {
    box-sizing: border-box;
}

html {
    font-family: Mulish, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}


#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    z-index: 10;
    background-color: #F5F5F5;
    display: block;
    overflow: hidden;
}

.navbar {
    position: relative;
    margin: 0;
    margin-left: 80px;
    padding: 0;
    
}


ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.navbar li {
    display: inline-block;
    padding: 16px 14px;
    position: relative;

}

.navbar li a {
    text-decoration: none;
    /* padding: 0px 14px; */
    /* margin: 0px 10px; */
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.navbar li a:before {
    content: "";
    color: #ED165F;
    position: absolute;
    border-bottom: 3px solid #ED165F;
    height: 100%;
    bottom: 10px;
    left: 0;
    width: 0;
    z-index: 1;
    transition: all 0.3s ease-in;
}

.navbar li a:hover:before {
    width: 100%;
}

.mobile_navbar {
    line-height: 48px;
    display: none;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

#header .logo {
    position: absolute;
    width: 70px;
    height: 41px;
    left: 50%;
    top: 3px;
    content: "";
    margin-left: -35px;
    cursor: pointer;
}

#header .logo img {
    height: 100%;
    width: 100%;
}

.right_navbar {
    float: right;
    height: 48px;
    line-height: 48px;
    margin-right: 80px;
    font-size: 20px;
}

.input_search {
    border-width: 0px;
    border-bottom-width: 1px;
    background-color: #F5F5F5;
    font-size: 14px;
}

#header input:focus {
    outline: none;
}

#header .right_navbar .fas:hover {
    color: #ED165F;
}

.fa-angle-double-down:hover {
    color: white;
}

#header .right_navbar .fas {
    color: black;
    size: 16px;
    padding: 15px;
}



.active_search {
    display: block !important;
}

#header .search_icon {
    visibility: hidden;
}

/* footer */
#footer {
    width: 100%;
    height: 200px;
    padding: 50px;
    background-color: #F5F5F5;
    font-size: 15px;
    display: grid;
    grid-template-columns: 10% 15% 15% 25% auto;
    grid-column-gap: 3%;
}   

#footer .logo {
    position: relative;
    height: auto;
}

#footer .logo img {
    width: 100%;
    height: auto;
}

#footer .infomation {
    list-style-type: none;
    height: auto;
}

#footer a {
    text-decoration: none;
    color: black;
}

#footer li {
    cursor: pointer;
    margin: 8px;
}

#footer li a:hover {
    color: #ED165F;
}

#footer .social {
    height: auto;
    list-style-type: none;
}

#footer .social a{
    font-size: 14px;
}

#footer .fab {
    width: 20px;
    color: #ED165F;
    cursor: pointer;
    margin-right: 10px;
}

#footer .subscribe {
    height: auto;
    left: 45%;
}

#footer .subscribe p {
    margin-top: 0px;
}

#footer .email {
    position: relative;
    height: 40px;
}

#footer .subscribe input {
    height: 100%;
    padding: 5px;
    padding-left: 10px;
    border: 1.5px solid #ED165F;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px ;
    
}

#footer .subscribe input::placeholder {
    color: black;
}

#footer .subscribe input:focus {
    outline: none;
}

#footer .subscribe button {
    position: absolute;
    height: 100%;
    border: 1.5px solid #ED165F;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px ;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: #ED165F;
    cursor: pointer;
    display: inline-block;
}

#footer .contact p {
    margin-top: 0px;
}

/* responsive */

@media (max-width: 1024px){
    #header .right_navbar input {
        display: none;
    }

    #header .search_icon {
        visibility: visible;
    }
}
/*Tablet*/
@media (min-width: 740px) and (max-width: 1024px){
    #header .navbar{
        margin: 0px;
        font-size: 1vw;
    }

    #header .navbar a {
        margin: 0px;
    }

    #header .right_navbar {
        margin: 0px;
        font-size: 1.8vw;
    }

    #header .right_navbar .input_search {
        font-size: 1.8vw;
    }

    #header .right_navbar .fas {
        padding: 12px;
    }

    #footer {
        grid-template-columns: auto auto auto;
        height: auto;
        grid-row-gap: 30px;
    }

    #footer .logo img {
        width: 40%;
    }
}


/*Mobile*/
@media (max-width: 740px){
    /* [class*="col-"] {
        width: 100%;
    } */

    #header .navbar li {
        display: block;
    }

    #header .mobile_navbar {
        display: inline-block;
    }

    #header .right_navbar {
        margin: 0px;
        font-size: 2.5vw;
    }

    #header .right_navbar .fas {
        padding: 10px;
    }

    #footer {
        grid-template-columns: auto;
        height: auto;
        grid-row-gap: 30px;
    }

    #footer .logo img {
        width: 40%;
    }

    #footer .fab {
        margin-right: 5px;
    }
}