#content {
    margin: 100px auto 60px auto;
    display: block;
    max-width: 1440px;
}

#content .account_dashboard {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: 750px;
    position: relative;
    background-color: white;
}

#content .account_dashboard .title {
    text-align: center;
}

#content .account_dashboard .menu li{
    width: 100%;
    float: right;  
    list-style: none;
    
}

#content .account_dashboard .menu a{
    color: #000;
    text-decoration: none;
    display: block;  
    border: 0.5px solid white;
}

#content .account_dashboard .fas {
    margin: 20px;
}

#content .account_dashboard .menu ul li > a:hover{
    border-color: #ED165F;
    border-radius: 5px;
}

#content .account_dashboard .menu ul .active{
    color: white;
    background-color: #ED165F;
    border-radius: 5px;
}

#content .account_dashboard .sign_out {
    position: absolute;
    bottom: 10px;
    display: block;
    text-align: center;
    margin-left: -15px;
}


#content .user_information {
    display: block;
    float: right;
    padding-left: 5%;
    
}

#content .form_information {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 50px;
    padding-bottom: 7.5px;
}


#content input,
#content button,
#content select,
#content label{
    display: block;
    width: 350px;
    border-radius: 6px;
}

#content button {
    width: 200px;
}

#content input,
#content select {
    margin-top: 16px;
    margin-bottom: 25px;
    height: 50px;
    font-size: 20px;
    border-width: 1px;
}

#content input:focus-visible {
    outline: none;
}

#content button {
    background-color: #ED165F;
    color: white;
    height: 40px;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

#content .remember {
    margin-bottom: 20px;
}

#content .form_information a{
    text-decoration: none;
    color: #ED165F;
}
